In this dataset, I used pandas to analyze the datatype,format, and any inconsistencies that occured. First, I checked the names of the columns and understood what they represented. Based on this, I changed some of the column names to make it clearer and more understandable as to what data it represents. Next, I checked for any invalid data, looking for any null values or any potential duplicates. Some datapoints contained Null values, so I removed those points(instead of replacing them with an average value) since only a small number of points(24/2240) contained NULLS. The data had no duplicates, so nothing else had to be removed. Lastly, I looked at the datatype of each column. I made sure that qualitative values such as education were string datatypes. Lastly, I made sure the date formatting was consistent with all the datapoints.

In [80]:
import kagglehub
import pandas as pd
# Download latest version
path = kagglehub.dataset_download("imakash3011/customer-personality-analysis")

print("Path to dataset files:", path)

Path to dataset files: /root/.cache/kagglehub/datasets/imakash3011/customer-personality-analysis/versions/1

In [81]:
df = pd.read_csv(path+ '/marketing_campaign.csv', sep='\t')

In [82]:
print("Number of datapoints:",df.shape[0])
display(df.head())

Number of datapoints: 2240

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

In [83]:
print(df.columns)


df.rename(columns={
    'MntWines': 'Amount_spent_Wines',
    'MntFruits': 'Amount_spent_Fruits',
    'MntMeatProducts': 'Amount_spent_MeatProducts',
    'MntFishProducts': 'Amount_spent_FishProducts',
    'MntSweetProducts': 'Amount_spent_SweetProducts',
    'MntGoldProds': 'Amount_spent_GoldProds','Year_Birth': 'Birth_Year',
    'Income': 'Annual_Income','Dt_Customer': 'Enrollment_Date ','AcceptedCmp1': 'Accepted_Campaign_1',
    'AcceptedCmp2': 'Accepted_Campaign_2',
    'AcceptedCmp3': 'Accepted_Campaign_3',
    'AcceptedCmp4': 'Accepted_Campaign_4',
    'AcceptedCmp5': 'Accepted_Campaign_5'
}, inplace=True)
display(df.columns)

Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response'],
      dtype='object')

Index(['ID', 'Birth_Year', 'Education', 'Marital_Status', 'Annual_Income',
       'Kidhome', 'Teenhome', 'Enrollment_Date ', 'Recency',
       'Amount_spent_Wines', 'Amount_spent_Fruits',
       'Amount_spent_MeatProducts', 'Amount_spent_FishProducts',
       'Amount_spent_SweetProducts', 'Amount_spent_GoldProds',
       'NumDealsPurchases', 'NumWebPurchases', 'NumCatalogPurchases',
       'NumStorePurchases', 'NumWebVisitsMonth', 'Accepted_Campaign_3',
       'Accepted_Campaign_4', 'Accepted_Campaign_5', 'Accepted_Campaign_1',
       'Accepted_Campaign_2', 'Complain', 'Z_CostContact', 'Z_Revenue',
       'Response'],
      dtype='object')

In [84]:

print(df.isnull().sum())

ID                             0
Birth_Year                     0
Education                      0
Marital_Status                 0
Annual_Income                 24
Kidhome                        0
Teenhome                       0
Enrollment_Date                0
Recency                        0
Amount_spent_Wines             0
Amount_spent_Fruits            0
Amount_spent_MeatProducts      0
Amount_spent_FishProducts      0
Amount_spent_SweetProducts     0
Amount_spent_GoldProds         0
NumDealsPurchases              0
NumWebPurchases                0
NumCatalogPurchases            0
NumStorePurchases              0
NumWebVisitsMonth              0
Accepted_Campaign_3            0
Accepted_Campaign_4            0
Accepted_Campaign_5            0
Accepted_Campaign_1            0
Accepted_Campaign_2            0
Complain                       0
Z_CostContact                  0
Z_Revenue                      0
Response                       0
dtype: int64

In [85]:
df.dropna(inplace=True)
print(df.isnull().sum())

ID                            0
Birth_Year                    0
Education                     0
Marital_Status                0
Annual_Income                 0
Kidhome                       0
Teenhome                      0
Enrollment_Date               0
Recency                       0
Amount_spent_Wines            0
Amount_spent_Fruits           0
Amount_spent_MeatProducts     0
Amount_spent_FishProducts     0
Amount_spent_SweetProducts    0
Amount_spent_GoldProds        0
NumDealsPurchases             0
NumWebPurchases               0
NumCatalogPurchases           0
NumStorePurchases             0
NumWebVisitsMonth             0
Accepted_Campaign_3           0
Accepted_Campaign_4           0
Accepted_Campaign_5           0
Accepted_Campaign_1           0
Accepted_Campaign_2           0
Complain                      0
Z_CostContact                 0
Z_Revenue                     0
Response                      0
dtype: int64

In [86]:
print(df.duplicated())
print(df.duplicated().sum())

0       False
1       False
2       False
3       False
4       False
        ...
2235    False
2236    False
2237    False
2238    False
2239    False
Length: 2216, dtype: bool
0

In [87]:
display(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 2216 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          2216 non-null   int64
 1   Birth_Year                  2216 non-null   int64
 2   Education                   2216 non-null   object
 3   Marital_Status              2216 non-null   object
 4   Annual_Income               2216 non-null   float64
 5   Kidhome                     2216 non-null   int64
 6   Teenhome                    2216 non-null   int64
 7   Enrollment_Date             2216 non-null   object
 8   Recency                     2216 non-null   int64
 9   Amount_spent_Wines          2216 non-null   int64
 10  Amount_spent_Fruits         2216 non-null   int64
 11  Amount_spent_MeatProducts   2216 non-null   int64
 12  Amount_spent_FishProducts   2216 non-null   int64
 13  Amount_spent_SweetProducts  2216 non-null   int64
 14  Amount_spent_GoldProds      2216 non-null   int64
 15  NumDealsPurchases           2216 non-null   int64
 16  NumWebPurchases             2216 non-null   int64
 17  NumCatalogPurchases         2216 non-null   int64
 18  NumStorePurchases           2216 non-null   int64
 19  NumWebVisitsMonth           2216 non-null   int64
 20  Accepted_Campaign_3         2216 non-null   int64
 21  Accepted_Campaign_4         2216 non-null   int64
 22  Accepted_Campaign_5         2216 non-null   int64
 23  Accepted_Campaign_1         2216 non-null   int64
 24  Accepted_Campaign_2         2216 non-null   int64
 25  Complain                    2216 non-null   int64
 26  Z_CostContact               2216 non-null   int64
 27  Z_Revenue                   2216 non-null   int64
 28  Response                    2216 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 519.4+ KB

None

In [88]:
df['Marital_Status'] = df['Marital_Status'].astype(str)
df['Education'] = df['Education'].astype(str)
df['Z_CostContact'] = df['Z_CostContact'].astype(float)
df['Z_Revenue'] = df['Z_Revenue'].astype(float)
df['Enrollment_Date '] = df['Enrollment_Date '].astype(str)

display(df[['Marital_Status', 'Education', 'Enrollment_Date ','Z_CostContact','Z_Revenue']].info())

<class 'pandas.core.frame.DataFrame'>
Index: 2216 entries, 0 to 2239
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Marital_Status    2216 non-null   object
 1   Education         2216 non-null   object
 2   Enrollment_Date   2216 non-null   object
 3   Z_CostContact     2216 non-null   float64
 4   Z_Revenue         2216 non-null   float64
dtypes: float64(2), object(3)
memory usage: 103.9+ KB

None

In [89]:
datetime_series = pd.to_datetime(df['Enrollment_Date '], format='%d-%m-%Y', errors='coerce')
invalid_dates = datetime_series.isnull().sum()

print(f"Number of invalid dates 'day-month-year' format: {invalid_dates}")

Number of invalid dates 'day-month-year' format: 0